

.navbar{
    margin: 1.5% 5% 0 5%;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(197, 197, 197) ;
    filter: 
    drop-shadow(1px 1em 1em rgb(114, 114, 114));
}

body{
    background-color: rgb(231, 231, 231) !important;
    overflow-x: hidden;
}


.nav-link-a {

    border: 1px solid rgba(34, 118, 187, 0.829) ;
    background-color: rgba(69, 164, 243, 0.829) ;
    border-radius: 5px;
}

.navbar-toggler{
    margin-bottom:7px;
    border: 1.5px solid rgb(78, 78, 78) !important;
}

/* slideshow */

.slideshow-container {
  margin: 0 5% 0 5%; 
  position: relative;
  height:300px;
  border-left: 1px solid rgb(133, 133, 133); 
  border-bottom: 1px solid rgb(133, 133, 133); 
  border-right: 1px solid rgb(133, 133, 133);
  filter: 
  drop-shadow(1px 1em 1em rgb(114, 114, 114));
}
.mySlides img{
    height: 300px;
}
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }


  /* slideshow kraj */
  .flag  {
    margin: 0 5% 2% 5%;
    height: 56px;

    position: relative;
    border-top: 56px solid rgb(197, 197, 197);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    filter: 
 drop-shadow(-0.01em 0.01em 0.01em rgb(114, 114, 114))
 drop-shadow(0.01em 1px 0.01em rgb(114, 114, 114));
  }

  
/* register */

.regh{
  height: 50px;
  background-color: rgba(63, 193, 193, 0.724);
  border: 1px solid rgb(131, 130, 130);
  font-weight: bold;
  font-size: 23px;
  color:rgb(78, 78, 78);
  margin-top:20px;
}


#reghp{
  text-align: center;
  line-height: 50px;
}


.regv {
  padding-left: 10%;
  padding-right: 10%;
}

.regp {
  font-weight: bold;
  margin-bottom: 0px;
}

.reg {
  padding-top: 20px;
  background-color: rgb(197, 197, 197);
  border: 1px solid rgb(131, 130, 130);
  filter: 
drop-shadow(1px 1em 1em rgb(114, 114, 114));
padding-right:1%;
padding-left: 1%;
}
/* 
form{
  padding-bottom:15px;
}

form input{
display: block;
width: 100%;


} */

#regbutton{

  background-color: rgba(63, 193, 193, 0.724);
  width:50% !important;
  margin: auto;
  filter: 
  drop-shadow(5px 5px 5px rgb(172, 172, 172));
  font-weight: bold;
  color:rgb(32, 32, 32);
  margin-top:10px;
}

.uspjesnaReg{
  background-color: rgba(63, 193, 193, 0.724);
  margin-bottom:30px;
  text-align: center;
  height:30px;
  line-height: 30px;
  font-weight: bold;
  border: 1px solid rgb(114, 114, 114);
}


.upozorenje {
  background-color: rgb(114, 114, 114);
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(114, 114, 114);
margin-bottom:20px;
padding: 7px;
margin-left:20%;
margin-right:20%;
}

/* register end */

.aspost {
  background-color: rgba(63, 193, 193, 0.724) !important ;

}

.rowpost{
    margin-left: 5% !important ;
  margin-right: 5% !important;
}



/* novi log in */

.user_card {
  height: 400px;
  width: 400px;
  margin-top:100px;
  margin-bottom:50px;
  background: rgb(199, 198, 198);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid gray;


}
.brand_logo_container {
  position: absolute;
  height: 220px;
  width: 220px;
  top: -100px;
  border-radius: 50%;
  background: rgb(231, 231, 231);
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
}
.brand_logo {
  height: 197px;
  width: 197px;
  border-radius: 50%;
}
.form_container {
  margin-top: 100px;
  width: 100% !important;
}
.login_btn {
  width: 100%;
  background: rgba(23, 23, 23, 0.724) !important;
  color: white !important;
  padding-bottom:10px;
  border: 1px solid gray;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.input-group-text {
  background: rgba(23, 23, 23, 0.724) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: rgba(23, 23, 23, 0.724) !important;
}

.mail, .pw{
  border: 1px solid gray;
}


.imica{
  width:40px;
  height:40px;
  background-color: gray;
}


.upoz{
  border: 1px solid gray;
  background-color: rgb(183, 183, 183);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom:5px;
  width: fit-content;
}

.erorispan{
  padding-left:5px;
font-weight: bold;
}