.navbar{
    margin: 1.5% 5% 0 5%;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(197, 197, 197) ;
    filter: 
    drop-shadow(1px 1em 1em rgb(114, 114, 114));
}

body{
    background-color: rgb(231, 231, 231) !important;
}


.nav-link-a {

    border: 1px solid rgba(34, 118, 187, 0.829) ;
    background-color: rgba(69, 164, 243, 0.829) ;
    border-radius: 5px;
}

.navbar-toggler{
    margin-bottom:7px;
    border: 1.5px solid rgb(78, 78, 78) !important;
}

/* slideshow */

.slideshow-container {
  margin: 0 5% 0 5%; 
  position: relative;
  height:300px;
  border-left: 1px solid rgb(133, 133, 133); 
  border-bottom: 1px solid rgb(133, 133, 133); 
  border-right: 1px solid rgb(133, 133, 133);
  filter: 
  drop-shadow(1px 1em 1em rgb(114, 114, 114));
}
.mySlides img{
    height: 300px;
}
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }


  
  /* slideshow kraj */





  .flag  {
    margin: 0 5% 0 5%;
    height: 56px;
    position: relative;
    border-top: 56px solid rgb(197, 197, 197);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    filter: 
 drop-shadow(-0.01em 0.01em 0.01em rgb(114, 114, 114))
 drop-shadow(0.01em 1px 0.01em rgb(114, 114, 114));
  }



  .flag2  {
    margin: 1% 30% 0 30%;
    height: 56px;
    position: relative;
    border-bottom: 56px solid rgb(197, 197, 197);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    filter: 
 drop-shadow(-0.01em 0.01em 0.01em rgb(114, 114, 114))
 drop-shadow(0.01em -1px 0.01em rgb(114, 114, 114));

  }




/* register */
.reg {
  margin: 0% 30% 0 30%;
  padding-top:20px;
  background-color: rgb(197, 197, 197);
  border-left: 1px solid rgb(114, 114, 114);
  border-right: 1px solid rgb(114, 114, 114);
  border-bottom: 1px solid rgb(114, 114, 114);
  filter: 
drop-shadow(1px 1em 1em rgb(114, 114, 114));

}

form input{
display: block;
margin: auto;
margin-top: 7px;
margin-bottom: 10px;
width:300px;
height:40px;

}

.flag2 p{
  padding-top:15px;
  text-align: center;
  text-transform: uppercase;

}


  
/* register end */

