.navbar{
    margin: 1.5% 5% 0 5%;
    border: 1px solid rgb(133, 133, 133);
    background-color: rgb(197, 197, 197) ;
}

body{
    background-color: rgb(231, 231, 231) !important;
}


.nav-item-a  {

    border: 1px solid rgba(34, 118, 187, 0.829);
    background-color: rgba(69, 164, 243, 0.829) ;
    border-radius: 5px;
}

.navbar-toggler{
    margin-bottom:7px;
    border: 1.5px solid rgb(78, 78, 78) !important;
}

/* slideshow */

.slideshow-container {
  margin: 0 5% 0 5%; 
  position: relative;
  height:300px;
  border-left: 1px solid rgb(133, 133, 133); 
  border-bottom: 1px solid rgb(133, 133, 133); 
  border-right: 1px solid rgb(133, 133, 133);
}
.mySlides img{
    height: 300px;
}
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
  }


  
  /* slideshow kraj */





  .flag  {
    margin: 0 5% 0 5%;
    height: 56px;
    position: relative;
    border-top: 56px solid rgb(197, 197, 197);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    filter: 
 drop-shadow(-0.01em 0.01em 0.01em rgb(114, 114, 114))
 drop-shadow(0.01em 1px 0.01em rgb(114, 114, 114));
  }





.flag2 {
  margin: 0.5% 5% 0 5%;
  height: 56px;
  position: relative;
}

.flag2:after {
  width:100%;
  content: ' ';
  position: absolute;
  left: 0;
  height: 0;
  bottom: 0;
  border-bottom: 56px solid rgb(197, 197, 197);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
}

.test{
  margin: 0% 5% 0 5%;
  background-color: rgb(197, 197, 197);
  height:500px;
}


.test2  {
  margin: 0 5% 0 5%;
  height: 56px;
  position: relative;
  background-color: rgb(197, 197, 197);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.test3 {
  margin: 1% 5% 0 5%;
  height: 56px;
  position: relative;
  background-color: rgb(197, 197, 197);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.test4{
  height:200px;
  margin: 0% 5% 0 5%;
  background-color: rgb(197, 197, 197);
}

.test5  {
  margin: 0 5% 2% 5%;
  height: 56px;
  position: relative;
  border-top: 56px solid rgb(197, 197, 197);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
}











